.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    background-image: url(../images/background.jpg);
}

h1, h2{
    color: black;
    font-family: Roboto-Sans;
    font-style: oblique;
    margin: 8pt 0 8pt 5pt;
}

h3{
    font-family: Roboto;
    color: black;
}

img{
    display: none;
    margin: 0;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    letter-spacing: 1pt;
    border: black;
    border-width: 2px;
    border-style: solid;
    background-color: lightyellow;
}

.container-content{
    background-color: lightyellow;
}

.beeComponent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.container-image{
    width: 30%;
}

.container-beeText{
    width: 40%;
}

.containter-buttons{
    width: 30%;
}

.beeImage{
    width: 80px;
    height: 100px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.containers{
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding-bottom: 10px;
}

.backContainer{
    width: 20%;
    display: none;
}

.titleContainer{
    width: 80%;
}

.button{
    height: 25px;
    width: 90%;
    background-color: black;
    color: white;
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 5px;
}

p.beeInfo{
    font-weight: bold;
    font-size: x-small;
    margin-top: 5px;
    margin-bottom: 5px;
}

p.beeName{
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px ;
}